<!DOCTYPE html>
<html ng-app="selectorDemoApp">
<head>
    <title></title>
    <link href="demo.css" rel="stylesheet">
</head>
<body ng-controller="Ctrl">

    <ui-selector check-list="checkData.checkList"></ui-selector>
    <p>------</p>
    <ul>
        <li ng-repeat="checkDataItem in checkData.checkList">{{checkDataItem.name}}</li>
    </ul>
    <ul>
        <li ng-repeat="checkDataItem in checkList2">{{checkDataItem.name}}</li>
    </ul>
    <button ng-click="addCheck()">Add</button>

</body>
    <script src="../lib/angular-1.2.0/angular.js"></script>
    <script src="../src/selector.js"></script>
    <script src="demo.js"></script>
</html>