textarea
{
    width: 300px;
    height: 100px;
}

button
{
    width: 60px;
}

.overlay
{
    /*display:none;*/
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background-color:#000;
    -moz-opacity: 0.8; /* код для движков Mozilla */
    opacity:.80;  /*свойство из спецификации CSS3, которое поддерживается не всеми браузерами*/
    filter: alpha(opacity=80); /* код для IE */
}

.modal
{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;
    min-width: 400px;
    min-height: 100px;
    z-index:5001;
    background-color: white;
    border-right: solid 1px #000000;
}

.position-canter
{
    text-align: center;
}